{% extends 'base.html'%}

{% block head%} 
    <title>Home</title>
{% endblock%}

{% block body%} 
  

<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>THIS  IS MY BLOG</p>
        <p>Describe you blog here</p>
        <p>
          <!-- <a class="btn btn-primary" href="/posts" role="button">Views</a> -->
          <a class="btn btn-success" href="/login" role="button">login »»</a>
          <a class="btn btn-secondary" href="/signup" role="button">sign up »</a>
        </p>
      </div>
    </div>
</main>
{% endblock%}