{% extends 'base.html'%}

{% block head%} 
    <title>Home</title>
{% endblock%}

{% block body%} 
  
<!-- <div class="lk">
    <main role="main">
        <form action="/posts" method="POST">
            <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check</label>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </main>
</div> -->
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">
            忘了啊~~~~~~~
            <br>
            RRRRRRRRRRRRR
            <br>
            RRRRRRRRRRRRR
            <br>
            RRRRRRRRRRRRR
            <br>
            RRRRRRRRRRRRR
            <br>
            RRRRRRRRRRRRR
        </h1>
        <!-- <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" action="/login" method="POST">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Check
            </label>
          </div>
          <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
          <hr>
          <a id="sd" class="btn btn-primary" href='/signup'>Sign up</a>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
{% endblock%}